@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is a sample to show the creation of a Static Web App using Visual Studio.</p>

<p>
    <a href='index'><button class="button-rounded">Go back</button></a>
</p>
